<div class="card m-4">
    <span class="text-center font-18 font-bold text-black-alpha-70 mt-4">
        PURCHASE ORDER
    </span>
    <div class="row justify-content-center mr-4 ml-4 mb-4">
        <div class="col-12">
            <div class="row">
                <div class="col-6 border-1 text-black-alpha-70">
                    <div>M/s.<br>
                        <span class="text-black-alpha-70 font-17 font-bold">Royal Heavy Equipment Spare Parts
                            Trdg. LIC</span><br>
                        P.O Box:23150<br>
                        Tel:06 7481152<br>
                        Ajman<br>
                        UAE<br>
                    </div>
                </div>
                <div class="col-3 border-1 text-black-alpha-70">
                    <div>
                        Purchase Order No.<br>
                        <span class="text-black-alpha-70 font-17 font-bold">EA-LPO-22-2017</span>
                    </div>
                    <div class="">
                        Other reference(s).<br>
                        <span class="text-black-alpha-70 font-17 font-bold">M.R.NO.PRD 274</span>
                    </div>
                </div>
                <div class="col-3 border-1 text-black-alpha-70">
                    <div>
                        Dated<br>
                        <span class="text-black-alpha-70 font-17 font-bold">12-nov-22</span>
                    </div>
                    <div class="">
                        Terms Of Payment<br>
                        <span class="text-black-alpha-70 font-17 font-bold">15 days PDC</span>
                    </div>
                </div>
                <div class="col-3 border-1 text-black-alpha-70">
                    <div class="">
                        Supplier's Ref No.<br>
                        <span class="text-black-alpha-70 font-17 font-bold">12-Nov-22</span>
                    </div>
                </div>
                <div class="col-3 border-1 text-black-alpha-70">
                    <div class="">
                        Dated<br>
                        <span class="text-black-alpha-70 font-17 font-bold">15 days PDC</span>
                    </div>
                </div>
                <div class="col-3 border-1 text-black-alpha-70">

                </div>
                <div class="col-3 border-1 text-black-alpha-70">
                    <div class="">
                        To be Despatches Throught<br>
                        <span class="text-black-alpha-70 font-17 font-bold">15 days PDC</span>
                    </div>
                </div>
                <div class="col-3 border-1 text-black-alpha-70">
                    <div class="">
                        Port of Loading<br>
                        <span class="text-black-alpha-70 font-17 font-bold">15 days PDC</span>
                    </div>
                </div>
                <div class="col-3 border-1 text-black-alpha-70">
                    <div class="">
                        Port of Discharge<br>
                        <span class="text-black-alpha-70 font-17 font-bold">15 days PDC</span>
                    </div>
                </div>
                <div class="col-3 border-1 text-black-alpha-70">
                    Terms of Delivery
                </div>
                <div class="col-3 border-1 text-black-alpha-70">
                    <div class="">
                        Final Destination<br>
                        <span class="text-black-alpha-70 font-17 font-bold">AJMAN FREEZONE</span>
                    </div>
                </div>

                <div class="col-1 border-1 text-black-alpha-70" style="width: 10%;"><span
                        class="text-black-alpha-70 font-15 font-bold text-center">Sr
                        No.</span></div>
                <div class="col-2 border-1 text-black-alpha-70"><span
                        class="text-black-alpha-70 font-15 font-bold text-center">Prod.Code</span>
                </div>
                <div class="col-4 border-1 text-black-alpha-70">
                    <span class="text-black-alpha-70 font-15 font-bold text-center">Description</span>
                </div>
                <div class="col-1 border-1 text-black-alpha-70"><span
                        class="text-black-alpha-70 font-15 font-bold text-center">Quantity</span>
                </div>
                <div class="col-1 border-1 text-black-alpha-70"><span
                        class="text-black-alpha-70 font-15 font-bold text-center">Units</span>
                </div>
                <div class="col-1 border-1 text-black-alpha-70"><span
                        class="text-black-alpha-70 font-15 font-bold text-center">Rate
                        AED</span>
                </div>
                <div class="col-2 border-1 text-black-alpha-70"><span
                        class="text-black-alpha-70 font-15 font-bold text-center">Amount
                        AED</span>
                </div>
                <div class="col-1 border-1" style="height: 60vh; ">1</div>
                <div class="col-2 border-1 text-black-alpha-70">NI 0039 A</div>
                <div class="col-4 border-1">
                    <span class="text-black-alpha-70 font-13 font-bold text-center">NIPPLE BSP MALE
                        3/4<br>ADAPTOR 1/4 MALE X 1/4'' FEMALE NPT</span><br>INPUT VAT -5%
                </div>
                <div class="col-1 border-1 text-black-alpha-70"><span class="float-right">9.00<br>10.000</span>
                </div>
                <div class="col-1 border-1 text-black-alpha-70"><span class="float-right">EA<br>EA</span>
                </div>
                <div class="col-1 border-1 text-black-alpha-70"><span class="float-right">10.0<br>8.00</span>
                </div>
                <div class="col-2 border-1 text-end text-black-alpha-70"><span class="float-right">90.00<br>80.00</span>
                </div>
                <div class="col-7 border-1 text-black-alpha-70"></div>
                <div class="col-1 border-1 text-black-alpha-70"><span class="float-right font-bold">19.000</span></div>
                <div class="col-1 border-1 text-black-alpha-70"></div>
                <div class="col-1 border-1 text-black-alpha-70"></div>
                <div class="col-2 border-2 text-black-alpha-70"><span class="float-right font-bold">178.50</span></div>
                <div class="col-12 border-1 text-black-alpha-70">Total Amount (in words): <span class="font-bold">One
                        Hundred Seventy Eight UAE
                        Dirhams and Fifty Only</span></div>


            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 "></div>
        <div class="col-md-4 border-1 mt-4">
            <hr style="margin-top: 60px;" class="text-black-alpha-70 border2">
            <div class="text-black-alpha-70 text-center">
                <span class=" text-center font-bold"> For ELFIT ARABIA F2C</span><br>Authorised Signatory
            </div>
        </div>
    </div>

</div>